# jwt
JWT_SECRET=your_super_secret_key_123456789123456789123456789
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=3

# cloudinary
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# RESEND
RESEND_KEY=your_resend_api_key

# CLOUDFLARE_TURNSTILE
SECRET_KEY_CLOUDFLARE_TURNSTILE=your_cloudflare_turnstile_secret

# SEPAY
SECRET_KEY_WEBHOOK_SEPAY=your_sepay_webhook_secret

# MYSQL
USERNAME_DATABASE=root
PASSWORD_DATABASE=your_database_password

# rabbitMQ
USER_MQ=guest
PASSWORD_MQ=guest

# oauth2 google
CLIENT_ID=your_google_client_id
CLIENT_SECRET=your_google_client_secret

# ngrok
Authtoken=token
# FE
DOMAIN=http://localhost:3000
